<component-totalizer
  [count]="(collaboratorsFacade.count$ | async) ?? 0"
  [title]="'Collaborators'"
  [actions]="[
    {
      label: 'Create',
      icon: '+',
      callback: (item) => openCreateCollaborator(),
    },
  ]"
></component-totalizer>

<component-table
  [items]="collaboratorsFacade.collaborators$ | async"
  [columns]="columns"
  [actions]="[
    {
      label: 'Edit',
      icon: 'edit',
      callback: (item) => openEditCollaborator(item),
    },
    {
      label: 'Delete',
      icon: 'delete',
      callback: (item) => deleteCollaborator(item),
    },
  ]"
></component-table>

<component-modal
  [open]="open"
  [buttons]="[
    {
      label: collaboratorFormGroup.get('id')?.value ? 'Update' : 'Create',
      disabled: false,
      callback: (item) => submitCollaborator(),
    },
  ]"
  (close)="open = false"
  [title]="collaboratorFormGroup.get('id')?.value ? 'Edit Collaborator' : 'Create Collaborator'"
>
  <feature-collaborators-component-collaborator-modal [form]="collaboratorFormGroup"></feature-collaborators-component-collaborator-modal>
</component-modal>
