<component-totalizer
  [count]="(collaboratorsFacade.count$ | async) ?? 0"
  [title]="'Colaboradores'"
  [actions]="[
    {
      label: 'Criar',
      icon: '+',
      callback: (item) => openCreateCollaborator(),
    },
  ]"
></component-totalizer>

<component-table
  [items]="collaboratorsFacade.collaborators$ | async"
  [columns]="columns"
  [actions]="[
    {
      label: 'Editar',
      icon: 'edit',
      callback: (item) => openEditCollaborator(item),
    },
    {
      label: 'Excluir',
      icon: 'delete',
      callback: (item) => deleteCollaborator(item),
    },
  ]"
></component-table>

<component-modal
  [open]="open"
  [buttons]="[
    {
      label: collaboratorFormGroup.get('id')?.value ? 'Atualizar' : 'Criar',
      disabled: false,
      callback: (item) => submitCollaborator(),
    },
  ]"
  (close)="open = false"
  [title]="collaboratorFormGroup.get('id')?.value ? 'Editar Colaborador' : 'Criar Colaborador'"
>
  <feature-collaborators-component-collaborator-modal
    [form]="collaboratorFormGroup"
  ></feature-collaborators-component-collaborator-modal>
</component-modal>
