<component-totalizer
  [count]="(devicesFacade.count$ | async) ?? 0"
  [title]="'Devices'"
  [actions]="[
    {
      label: 'Create',
      icon: '+',
      callback: (item) => openCreateDevice(),
    },
  ]"
></component-totalizer>

<component-table
  [items]="devicesFacade.devices$ | async"
  [columns]="columns"
  [actions]="[
    {
      label: 'Edit',
      icon: 'edit',
      callback: (item) => openEditDevice(item),
    },
    {
      label: 'Delete',
      icon: 'delete',
      callback: (item) => deleteDevice(item),
    },
  ]"
></component-table>

<component-modal
  [open]="open"
  [buttons]="[
    {
      label: deviceFormGroup.get('id')?.value ? 'Update' : 'Create',
      disabled: false,
      callback: (item) => submitDevice(),
    },
  ]"
  (close)="open = false"
  [title]="deviceFormGroup.get('id')?.value ? 'Edit Device' : 'Create Device'"
>
  <feature-devices-component-device-modal
    [form]="deviceFormGroup"
  ></feature-devices-component-device-modal>
</component-modal>
