<component-totalizer
  [count]="(organizationsFacade.count$ | async) ?? 0"
  [title]="'Organizations'"
></component-totalizer>

<component-table
  [items]="organizationsFacade.organizations$ | async"
  [columns]="columns"
  [actions]="[
    {
      label: 'Edit',
      icon: 'edit',
      callback: (item) => openEditOrganization(item),
    }
  ]"
></component-table>

<component-modal
  [open]="open"
  [buttons]="[
    {
      label: organizationFormGroup.get('id')?.value ? 'Update' : 'Create',
      disabled: false,
      callback: (item) => submitOrganization(),
    },
  ]"
  (close)="open = false"
  [title]="organizationFormGroup.get('id')?.value ? 'Edit Organization' : 'Create Organization'"
>
  <feature-organizations-component-organization-modal
    [form]="organizationFormGroup"
  ></feature-organizations-component-organization-modal>
</component-modal>
